<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wave2.png</key>
			<dict>
				<key>width</key>
				<integer>747</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>747</integer>
				<key>originalHeight</key>
				<integer>158</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wave1.png</key>
			<dict>
				<key>width</key>
				<integer>978</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>978</integer>
				<key>originalHeight</key>
				<integer>202</integer>
				<key>x</key>
				<integer>749</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wave3.png</key>
			<dict>
				<key>width</key>
				<integer>1378</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>1378</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>1729</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wave4.png</key>
			<dict>
				<key>width</key>
				<integer>1393</integer>
				<key>height</key>
				<integer>275</integer>
				<key>originalWidth</key>
				<integer>1393</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wave5.png</key>
			<dict>
				<key>width</key>
				<integer>1456</integer>
				<key>height</key>
				<integer>338</integer>
				<key>originalWidth</key>
				<integer>1456</integer>
				<key>originalHeight</key>
				<integer>338</integer>
				<key>x</key>
				<integer>1395</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>wave10.png</string>
			<key>realTextureFileName</key>
			<string>wave10.png</string>
			<key>size</key>
			<string>{4096,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>